/* My Variables */
:root{
    --myColor:#8C52FF;
}

/* CSS Reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
    scroll-behavior: smooth;
    
}

/* Navbar */
nav {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-around;
    padding: 1rem 0;
    font-size: 20px;
    margin-bottom: 1rem;
    width: 100%;
}

    /* Navbar Image */
    nav img{
        width: 30%;
    }

    /* 2nd Container In Navbar */
    nav div:nth-child(2) {
        margin: auto 0;
    }

    /* Unordered List */
    nav ul {
    display: flex;
    }

    /* Lists */
    nav ul li {
        list-style-type: none;
        margin: auto 1.2rem;
        
    }

    /* Anchor tags */
    nav ul li  a {
        text-decoration: none;
        color: #000000;
        position: relative;
    }

    /* Change color to --myColor when hovering the anchor tags */
    nav ul li:hover a{
        color: var(--myColor);
        transition: ease 0.2s;
    }

    /* Home */
        li:nth-child(1) a{
            font-weight: bold;
            color: var(--myColor);
        }

    /* About & Contact */
       li:nth-child(2) a:hover::after,
       li:nth-child(3) a:hover::after{
            content: "←";
            position: absolute;
            top: 0;
            animation:blink 1s ease-in-out 0.05s infinite ; /*name duration timingFunction delay iterationCount */
        }
    /* blinking arrow-left animation when hovering the Projects & About anchor tags */
    @keyframes blink {
        0%{
            content: "←";
          }
          50%{
            content: " ";
          }
          100%{
            content: "←";
          }
    }

    /* Let's Talk */
    nav ul li:nth-child(4) a{
        border: 2px solid var(--myColor);
        outline: none;
        border-radius: 2.5rem;
        padding: 0.5rem;
        color: var(--myColor);
    }

    nav ul li:nth-child(4) a:hover{
        background-color: var(--myColor);
        color: #ffffff;
        animation:round 1s alternate ;
    }


main {
    /* background-color: blanchedalmond; */
    width: 80%;
    margin: 1rem auto 0 auto;
}

    main .hero-section {
        text-align: center;
    /* background-color: aquamarine; */
    }

        .hero-section h1{
            font-size: 3.5rem;;
            margin-bottom: 1.5rem;
        }

        .hero-section p {
            font-size: 1.3rem;
        }

        .hero-section img {
            margin-top: 2rem;
        }
        
        .hero-section div:nth-of-type(2) img {
            width: clamp(150px,30rem,30rem);
        }

#article-container{
    background-color: var(--myColor);
}
article {
        margin-top: -0.3rem;
        text-align: center;
        height: 50vh;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 60%;
        margin: 0 auto;
        }

     /* robot animation */
    article lottie-player {
        width: 100%;
        background-color: #8C52FF;
    }

    article div:nth-child(2){
        text-align: justify;
    }

    article div:nth-child(2) header{
        font-size: 1.8rem;
        font-weight: bold;
        margin: 8rem 0 2rem 0;
    }