/* My Variables */
:root{
    --myColor:#8C52FF;
}

/* CSS Reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* anchor and list reset */
a, ul, li {
    text-decoration: none;
    list-style-type: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245, 245, 245);
    cursor:context-menu;
}



/* Navbar */
nav {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-around;
    padding: 1rem 0;
    font-size: 20px;
    margin-bottom: 1rem;
    width: 100%;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    transition: transform 300ms;
    background-color: rgba(0, 0, 0, 0.);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

nav.hide{
    transform: translateY(-150px);
}

    /* Navbar Image */
    nav img{
        width: 30%;
    }

    /* 2nd Container In Navbar */
    nav div:nth-child(2) {
        margin: auto 0;
    }

    /* Unordered List */
    nav ul {
    display: flex;
    }

    /* Lists */
    nav ul li {
        margin: auto 1.2rem;
        
    }

    /* Anchor tags */
    nav ul li  a {
        
        color: #000000;
        position: relative;
    }

    /* Change color to --myColor when hovering the anchor tags */
    nav ul li:hover a{
        color: var(--myColor);
        transition: ease 0.2s;
    }

    /* Home */
        li:nth-child(1) a{
            font-weight: bold;
            color: var(--myColor);
        }

    /* About & Contact */
       li:nth-child(2) a:hover::after,
       li:nth-child(3) a:hover::after{
            content: "←";
            position: absolute;
            top: 0;
            animation:blink 1s ease-in-out 0.05s infinite ; /*name duration timingFunction delay iterationCount */
        }
    /* blinking arrow-left animation when hovering the Projects & About anchor tags */
    @keyframes blink {
        0%{
            content: "←";
          }
          50%{
            content: " ";
          }
          100%{
            content: "←";
          }
    }

    /* Let's Talk */
    nav ul li:nth-child(4) a{
        border: 2px solid var(--myColor);
        outline: none;
        border-radius: 2.5rem;
        padding: 0.5rem;
        color: var(--myColor);
    }

    nav ul li:nth-child(4) a:hover{
        background-color: var(--myColor);
        color: #ffffff;
        animation:round 1s alternate ;
    }


main {
    /* background-color: blanchedalmond; */
    width: 80%;
    margin: 3rem auto 0 auto;
}

    main .hero-section {
        text-align: center;
    /* background-color: aquamarine; */
    }

        .hero-section h1{
            font-size: 3.5rem;;
            margin-bottom: 1.5rem;
        }

        .hero-section p {
            font-size: 1.3rem;
        }

        .hero-section img {
            margin-top: 3rem;
        }
        
        .hero-section div:nth-of-type(2) img {
            width: clamp(150px,33rem,33rem);
        }

#article-container{
    background-color: var(--myColor);
    margin: -0.3rem auto 0 auto;
    padding-bottom: 6rem;
}
article {
        margin-top: 0;
        text-align: center;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width:80%;
        margin: 0 auto;
        word-wrap:break-word;
        }

     /* robot animation */
     article div:nth-of-type(1){
       margin: auto;
    }

    article lottie-player {
        width: 70%;
        background-color: #8C52FF;
        margin-left: auto;
    }

    article div:nth-of-type(2){
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article div:nth-child(2){
        text-align: justify;
        height: 100%;
    }

    article div:nth-child(2) header{
        font-size: 2.5rem;
        font-weight: bold;
        margin: 8rem 0 2rem 0;
    }

    article div:nth-child(2) p{
        font-size: 1.2rem;
        max-width:50%;
    }


    article #see-more{
        color: #ffffff;
        font-weight: bold;
        position: relative;
    }

    article #see-more:hover{
        color: #000;
    }

    article #see-more:hover::after{
        color: #ffffff;
        content: "←";
        position: absolute;
        top: 0;
        animation:blink 1s ease-in-out 0.05s infinite ;
    }

    article #resume{
        border: 2px solid #ffffff;
        border-radius: 2.5rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        color: #ffffff;
        display: inline-block;
        margin: 2rem;
    }

    article #resume:hover   {
        transform: scale(1.1);
        background-color: #ffffff;
        color: #000000;
        box-shadow: 3px 3px 1px 2px black;
        transition: ease 0.5s;
    }

    article #lets-work-together{
        border: 2px solid #ffffff;
        border-radius: 2.5rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        color: #ffffff;
        display: inline-block;
        margin-top: 2rem;
    }

    article #lets-work-together:hover   {
      transform: scale(1.1);
      background-color: #ffffff;
      color: #000000;
      box-shadow: 3px 3px 1px 2px black;
      transition: ease 0.5s;
    }

#my-skills{
    background-color: #ffffff;
    border-radius: 15px;
    width: 60%;
    margin: -6rem auto 0 auto;
    text-align: center;
    position: relative;
    box-shadow: 8px 8px 15px 1px rgba(0, 0, 0, 0.1);
    cursor: context-menu;
}

    #my-skills::before{
        content: "<";
        font-size: clamp(5rem,15vw,15vw);
        position: absolute;
        top: 55%;
        left: 15%;
        color: var(--myColor);
    } 

    #my-skills::after{
        content: "/>";
        font-size: clamp(5rem,15vw,15vw);
        position: absolute;
        top: 55%;
        right: 15%;
        color: var(--myColor);
    } 

    #my-skills #my-skills-sub-container {
        margin: auto;
        border: 1.5px solid var(--myColor);
        padding: 5rem;
        box-shadow: 10px 10px 0px 0px var(--myColor);
    }

    /* </> */
    #my-skills .fa-solid {
        font-size: 3rem;
        margin-bottom: 1.3rem;
        color: var(--myColor);
    }

    /* Front-end developer */
    #my-skills p:nth-of-type(1) {
        font-size: 2rem;
        font-weight: 1500;
    }

    #my-skills hr {
        opacity: 0.2;
        margin: 2.5rem auto;
    }

    /* Great desire to learn */
    #my-skills div:nth-of-type(2){
        font-size: 1.2rem;
        margin: 0 auto;
        position: relative;
    }

    /* coding */
    #my-skills #coding{
        color: red;
        pointer-events: var(--myColor);
    }



    #interested-in-coding a{
        color: #ffffff;
        position: absolute;
        top: -2rem;
        left: 16rem;
        background-color: rgba(0, 0, 0.5, 0.5);
        border: 1px solid black;
        visibility: hidden;
        padding: 0.1rem;
    }

    #interested-in-coding a::after{
        content: " ";
        position: absolute;
        left: 20%;
        bottom: -8px;
        border-top: 8px solid black;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: none;
    }


    #interested-in-coding a:hover{
        transform: scale(1.1);
        transition: transform 0.5s;
    }


    /* Main ingredients */
    #my-skills p:nth-of-type(2){
        font-size: 1.3rem;
        font-weight: 500;
        margin: 3rem auto;
        color: var(--myColor);
    }

    #my-skills #main-ingredients-logo{
        justify-content: center;
        align-items: center;
        margin-top: -30px;
        margin-bottom: 2rem;
    }


    /* html css js logo */
    #my-skills #main-ingredients-logo img{
        position: relative;
        width: clamp(50px,50px,50px);
        height: 50px;
    }


    .ingredients-logo-container{
        display: inline;
        position: relative;
    }

    .ingredients-logo-text{
        font-size: 0.8rem;
        font-weight: 500;
        width: 100%;
        height: 3.5rem;
        position: absolute;
        top: -2.5rem;
        left: 0;
        display: none;
        cursor: context-menu;
        padding: 1.5rem 0;
        color: #ffffff;
        background-color : rgba(0,0,0.5,0.5);
    }


    /* Dev tools container */
    #my-skills #dev-tools {
        margin-top: 2rem;
    }

    /* Dev Tools */
    #my-skills #dev-tools p {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--myColor);
        margin-bottom: 2rem;
    }

    /* transition from 0 width to 100% */
    #my-skills #dev-tools li::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: var(--myColor);
        transition: width ease-in-out .3s;
    }
    
    #my-skills #dev-tools li:hover::after {
        width: 100%;
    }

    #my-skills #dev-tools ul{
        line-height: 2rem;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
    }

    #projects-container{
        width: 60%;
        margin: 2rem auto;
        border: 1.5px solid var(--myColor);
        padding: 5rem;
        box-shadow: 10px 10px 0px 0px var(--myColor);
    }

        #projects-container p:nth-of-type(1){
            font-size: 2rem;
            text-align: center;
            margin: 2rem 0;
            font-weight: 500;
        }

        #projects-container hr{
            opacity: 0.2;
        margin-bottom: 2rem;
        }


        #projects-container p:nth-of-type(2){
            font-size: 1.2rem;
            text-align: center;
        }


        #projects-container #email-me a{
            color: var(--myColor);
            position: relative;
        }

        #projects-container  #email-me a:hover::after{
            color: var(--myColor);
            content: "←";
            position: absolute;
            top: 0;
            animation:blink 1s ease-in-out 0.05s infinite;
        }


        #projects-container #projects {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
            grid-gap: 2rem;
            padding: 5rem;
        }

    .cards {
        overflow: hidden;
        border: 1px solid var(--myColor);
        border-radius: 10px;
        box-shadow: 5px 5px 1px 2px var(--myColor);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 25vh;
    }


    .view-project {
        position: absolute;
        left: 0;
        top: 50;
        text-align: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: ease;
        display: none;
        cursor: context-menu;
        color: #ffffff;
    }

    .hide-element {
        visibility: hidden;
    }

    .view-project p{
        font-size: 1.1rem !important;
        margin: 2rem 0;
        padding: 0.5rem;
    }

    .view-project a {
        color: #ffffff;
        border: 2px solid var(--myColor);
        font-weight: 400;
        padding: 0.5rem;
        border-radius: 20px;
    }

    .view-project a:hover {
        background-color: var(--myColor);
    }

#hr-spacer{
    width: 100%;
    margin: 10rem 0;
    opacity: 0.2;
}

#testimonial-container{
    width: 100%;
    margin: 0 auto;
}

    #testimonial-container #testimonial-title{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        background-color: var(--myColor);
        padding: 2%;
        color: #ffffff;
        width: 100%;
    }

    #testimonial-container #testimonial-title p:nth-of-type(2){
        font-size: 1.2rem;
        margin-top: 1rem;
    }


    #testimonial-container .testimonial-card-container {
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }

    #testimonial-card{
        position: absolute;
        background-color: red;
        left: 40%;
        top: 25%;
    }

    #testimonial-card img {
       width: 50%;
       height: 150px;
       border: 1px solid var(--myColor);
       border-radius: 50%;
       box-sizing: content-box;
       padding: 0.5rem;
    }


    #testimonial-card #side1{
        height: 28vh;
        width: clamp(15vw,15vw,15vw);
        position: absolute;
        transform: translateX(-100px) scale(1);
        z-index: 99;
        border: 2px solid gray;
        background-color: #ffffff;
        box-shadow: 5px 5px 0px 1px var(--myColor);
        transition: transform .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #testimonial-card #side2{
        height: 28vh;
        width: clamp(15vw,15vw,15vw);
        position: absolute;
        transform: translateX(100px) scale(1);
        z-index: 99;
        border: 2px solid gray;
        background-color: #ffffff;
        box-shadow: 5px 5px 0px 1px var(--myColor);
        transition: transform .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #testimonial-card #side3{
        height: 28vh;
        width: clamp(15vw,15vw,15vw);
        position: absolute;
        transform: translateX(0px) scale(1.5);
        z-index: 99;
        border: 2px solid gray;
        background-color: #ffffff;
        box-shadow: 5px 5px 0px 1px var(--myColor);
        transition: transform .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #testimonial-card .testimonial-thoughts{
        text-align: center;
        font-size: 75%;
        width: 80%;
    }

    #testimonial-card .testimonial-thoughts :is(p:nth-child(1), p:nth-child(2), p:nth-child(3)){
        text-align: center;
    }

    #testimonial-card .testimonial-thoughts :is(p:nth-child(1),p:nth-child(2), p:nth-child(3)){
        margin-top: 0.5rem;
    }

    #testimonial-card .testimonial-thoughts p:nth-child(2){
        font-weight: 500;
    }


    #testimonial-container :where(.prev, .next){
        font-size: 10rem;
        color: var(--myColor);
        cursor: pointer;
    }

    #testimonial-container .prev{
        position: absolute;
        top: 30%;
        left: 25%;
        z-index: 100;
    }

    #testimonial-container .next{
        position: absolute;
        top: 30%;
        right: 27%;
        z-index: 100;
    }


footer {
    width: 100%;
    background-color: var(--myColor);
    height: 20vh;
    text-align: center;
}

    footer #footer-container{
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-container ul{
        display: flex;
        justify-content: center;
    }

    #footer-container ul li {
        margin: 1rem 1.7rem;
    }

    footer #footer-container a{
        color: #ffffff;
        font-size: 1.6rem;
        border: 3px solid #d9d9d9;
        border-radius: 50%;
        padding: 8px;
        background-color: #7836fc;
    }

    footer #footer-container a:hover{
        background-color: #ffffff;
        transition: all 0.5s;
        color: var(--myColor);
        border: 3px solid var(--myColor);
    }

    footer div:nth-child(2){
        margin-top: 1.5rem;
        color: #ffffff;
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
    }
